<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <!-- Responsive screen size -->
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- End of responsive screen size -->
        
        <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <!-- End of Bootstrap -->    
    
        <!-- Google fonts -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">

        <!-- Custom Stylesheet -->
            <link rel="stylesheet" type="text/css" href="/stylesheets/form.css"> 
        <!-- End of Custom Stylesheet -->    
        
        <!-- jQuery -->
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
         <!-- End of jQuery -->  
         
         <!--Alert -->
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
        <!-- particles -->
            <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        <!-- End of particles -->  
    
        <script>
            particlesJS.load('particles-js', '/json/particles.json');
        </script>
    </head>
<body>
<!--Calculationfor A/L Year-->
    <% var years = new Date().getFullYear();   %>
<!--End of calculating the years for hisroty-->

    <% include ./navbarPartial %>

<div id="particles-js">
    <div id="overlay">
        <div class="container">
            <% if(error && error.length>0){%>
                <div class="alert alert-danger dangers show" role="alert">
                <%=error%>
                </div>
            <% } %>
   
            <% if(success && success.length>0){%>
                    <a href="/idCard.pdf">
                        <div class="alert alert-success dangers" role="alert">
                            <%=success%>
                        </div>
                    </a>
            <% } %>
        </div>


        <h2 id="topic">REGISTER</h2>
            
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#regParent">Register a Parent</a>
                      </li>
                    </ul>
                </div>    
            </div>
            <div id="content-background">
                <div class="tab-content">
                    <div class="row tab-pane active" id="regParent">
                        <div class="col-lg-12">
                            <div class="panel panel-default panel-fill">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Parents Information</h3>
                                </div>
                                <form action="/admin/register/parent/new" id="registernewparent" method="POST">
                                    <div class="panel-body">
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">F. Name</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="firstname" placeholder="First Name" class="form-control" required>
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <label class="col-sm-1 control-label label">L. Name</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="lastname" placeholder="Last Name" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                <label class="col-sm-1 control-label label">Email</label>
                                                <div class="col-sm-4 input-group-append">
                                                    <input class="form-control" type="email" name="email" placeholder="Email">
                                                </div>
                                                <div class="col-sm-2"></div>
                                                <label class="col-sm-1 control-label label">Student ID</label>
                                                <div class="col-sm-4 input-group-append">
                                                    <input class="form-control" type="text" name="studentID" placeholder="Student ID of the Child">
                                                </div>
                                                <div class="col-sm-2"></div>
                                            </div>
                                        </div>
                                    </div>
                                                    <div class="table">
                                                    </div>
                    
                                </form>
                            </div>
                        </div>
                    </div>

                    <center>
                        <div class="form-group">
                            <button type="submit" id="submitbtn" class="btn btn-primary">ADD PARENT</button>
                        </div>
                    </center>
                </div> 
            </div>
        </div>
    </div>
</div>

<script src="/scripts/register.js"></script>

<% include ../partials/footer %>