<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Register</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/admin/register.css"> 
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json');
        </script>
    </head>
<body>
<!--Calculationfor A/L Year-->
    <% var years = new Date().getFullYear();   %>
<!--End of calculating the years for hisroty-->

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/student">Home</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/student/profile">Profile</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/student/content">Course Content</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/student/newsfeeds">Newsfeed</a>
          </ul>
        </ul>
        
        <a  id="register"href="/login">
          <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
        </a>
      </div>
    </nav>

<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">REGISTER</h2>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="tab-pane" id="settings-2">
                        <div class="panel panel-default panel-fill">
                            <div class="panel-heading">
                                <h3 class="panel-title">Student Information</h3>
                            </div>
                            <form action="/student/new" method="POST">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-1 control-label label">F. Name</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="First Name" class="form-control">
                                            </div>
                                            <div class="col-sm-2"></div>
                                            <label class="col-sm-1 control-label label">L. Name</label>
                                            <div class="col-sm-4">
                                                <input type="text" placeholder="Last Name" class="form-control">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-sm-1 control-label label">Email</label>
                                            <div class="col-sm-4 input-group-append">
                                                <input class="form-control" type="email" name="email" placeholder="Email">
                                            </div>
                                            <div class="col-sm-2"></div>
                                            <label class="col-sm-1 control-label label">A/L Year</label>
                                            <div class="col-sm-4">
                                                <div class="form-group">
                                                    <select class="form-control combobox" id="alyear">
                                                        <%for(var i=years; i<(years+4) ;i++){ %>   
                                                            <option><%=i%></option>
                                                        <% } %>
                                                    </select>
                                                  </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    
                    <div id="table">
                    </div>
                    
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Add Student!</button>
                    </div>    
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../scripts/register.js"></script>
<% include ../partials/footer %>