<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Payments</title>
        <!-- Bootstrap -->
        <!-- Responsive screen size -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
        <!-- End of responsive screen size -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <!-- End of Bootstrap -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/form.css"> 
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css"> 
        
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../scripts/instascan.min.js"></script>
        <script>
            particlesJS.load('particles-js', '../json/particles.json');
        </script>
    <!-- End of Particles -->    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin">Home</a>
          </ul>
          <ul class="navbar-nav nav-link"  data-toggle="modal" data-target="#stulec">
            <a class="links" href="#stulec">Register</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/attendance">Attendance</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/admin/newsfeeds">Newsfeed</a>
          </ul>
        </ul>
        
         <% if(!currentUser){ %>
            <a  id="register"href="/login">
                <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
            </a>
        <% } else { %>
            <ul class="navbar-nav nav-link">
                <a id="user" class="links" href="#" style="margin-right:10px">
                    <%= currentUser.username %> 
                </a>
            </ul>
            <ul class="navbar-nav nav-link">
                <a  id="register"href="/logout">
                    <button class="btn btn-outline-primary btn-sm custombtn" style="margin-right:-5px"type="submit">Logout</button>
                </a>
            </ul>
        <% } %>
      </div>
    </nav>
    
    
    <div class="modal fade" id="stulec" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h6 class="modal-title" id="exampleModalLabel">Select User</h6>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true" style="color:white;">&times;</span>
                    </button>
                </div>
        
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" style="margin-top:20px;">
                            <div class="col-lg-6 col-md-6 featured-responsive c2">
                                <div class="featured-place-wrap">
                                    <a href="/admin/register/lecturer">
                                        <div class="image">
                                            <img src="https://s3-ap-southeast-1.amazonaws.com/images.humanresourcesonline.net/wp-content/uploads/2017/03/Wani-7-Mar-Lecturers-123RF-700x420.jpg" style="height:100%" class="img-fluid" alt="#">
                                        </div>
                                        <div class="featured-title-box inner-title">
                                            <h6 style="margin:-10px">Lecturer</h6>
                                            <ul>
                                                <li><span class="icon-location-pin"></span>
                                                    <p>Register a new Lecturer</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 featured-responsive c2">
                                <div class="featured-place-wrap">
                                    <a href="/admin/register/student">
                                        <div class="image">
                                            <img src="https://s16815.pcdn.co/wp-content/uploads/2017/06/iStock-609683672-studying.jpg" style="height:100%" class="img-fluid" alt="#">
                                        </div>
                                        <div class="featured-title-box inner-title">
                                            <h6 style="margin:-10px">Student</h6>
                                            <ul>
                                                <li><span class="icon-location-pin"></span>
                                                    <p>Register a new Student</p>
                                                </li>
                                            </ul>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    
<div id="particles-js">
    <div id="overlay">
            <% if(error && error.length>0){%>
                <div class="container">
                    <div class="alert alert-danger dangers" role="alert">
                        <%=error%>
                    </div>
                </div>
            <% } %>
   
            <% if(success && success.length>0){%>
                <div class="container">
                    <a href="/invoice.pdf">
                        <div class="alert alert-success dangers" role="alert">
                            <%=success%>
                        </div>
                    </a>
                </div>
            <% } %>
        
        <h2 id="topic">PAYMENTS</h2>
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <form action="/admin/payments/new" id="newpayment" method="POST">
                            <div class="panel panel-default panel-fill">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Select Student</h3>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <center><video id="preview"  style="width:100%; height:300px"></video></center>
                                            </div>
                                         
                                            <div class="col-lg-6">
                                                <div class="row" style="margin-top:20px">
                                                    <label class="col-lg-2 control-label label">Student #</label>
                                                    <div class="col-lg-10">
                                                        <div class="input-group mb-3">
                                                          <input id="stID" name="stIDName" type="text" class="form-control" placeholder="Enter Student ID" aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                                                          <div class="input-group-append">
                                                            <button id="checkBtn" class="btn btn-primary" type="button" style="margin-bottom:0;font-size:12px;">CHECK</button> 
                                                            <!--button type is button, ajax request is sent using js. check the payment.js file-->
                                                          </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row"   style="border:1px solid gray; border-bottom:none">
                                                    <div class="col-lg-12">
                                                        <h6 style="text-align:center; margin-bottom:20px;  margin-top:20px">Student Details</h6>
                                                    </div>
                                                </div>
                                                <div class="row" style="border-left:1px solid gray; border-right:1px solid gray; ">
                                                    <label class="col-lg-2 control-label label">Name</label>
                                                    <div class="col-lg-10 input-group-append">
                                                        <input class="form-control" type="text" name="name" id="name" placeholder="Name" readonly>
                                                    </div>
                                                </div>
                                                
                                                <div class="row"  style="border-left:1px solid gray; border-right:1px solid gray; ">
                                                    <label class="col-lg-2 control-label label">AL Year</label>
                                                    <div class="col-lg-10 input-group-append">
                                                        <input class="form-control" type="text" name="name" id="alyear" placeholder="AL Year" readonly>
                                                    </div>
                                                </div>
                                                
                                                <div class="row"  style="border-left:1px solid gray; border-right:1px solid gray; border-bottom:1px solid gray;">
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="table"> 
                                <!--table is loaded with the ajax request-->
                            </div>
                                   
                            <center>
                              <button id="saveBtn" class="btn btn-primary" style="width:100px" disabled>PAY</button>
                               
                              <button class="btn btn-primary cancel" style="width:100px">CANCEL</button>
                            </center>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       

<script type="text/javascript">
    var scanner = new Instascan.Scanner({ video: document.getElementById('preview') });
    scanner.addListener('scan', function (content, image) {
        if (content!=null && content[0]=="S"){
            var audio = new Audio('../beep.mp3');
            audio.play();
            
            var arr = content.split(' ');
            $("#stID").val(arr[0]);
            $("#name").val(arr[1]+" "+arr[2]);
            $("#alyear").val(arr[3]);
            $('#checkBtn').click(); //to make the rest of the process using button clicks
        }
    });
    
    Instascan.Camera.getCameras().then(function (cameras) {
        if (cameras.length > 0) {
          scanner.start(cameras[0]);
        }
    });
</script> 

<script src="/scripts/payment.js"></script>
<% include ../partials/footer %>