<% include ./partials/header %>

<div class="container" style="margin-top:5%">

    <div class="card-columns">
        
        <div class="card">
            <img class="card-img-top" src=https://images.unsplash.com/photo-1521223869936-7d47bc3b70b2?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=de657d64a91e560b4fe5c72270012719&auto=format&fit=crop&w=334&q=80 alt="Card image cap">
                <button type="button" class="btn btn-primary btn-block">
                Profile <span class="badge badge-light">4</span>
                </button>
        </div>

  <div class="card">
    
  </div>
  
  <div class="card">
      <img class="card-img-top" src=https://images.unsplash.com/photo-1518607692857-bff9babd9d40?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=6899a5ec8bedd89eeeb3accd68fee0f6&auto=format&fit=crop&w=667&q=80 alt="Card image cap">
        <button type="button" class="btn btn-primary btn-block">
        Timetable
        </button>
  </div>
  

    <div class="card">
        <img class="card-img-top" src=https://images.unsplash.com/photo-1519895387466-5fc5e7bf8b3c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d08456aa353afa6ed71b41f7c2b9d9aa&auto=format&fit=crop&w=734&q=80 alt="Card image cap">
                <button type="button" class="btn btn-primary btn-block">
                News <span class="badge badge-light">5</span>
                </button>
  </div>
  
  <div class="card">
        <img class="card-img-top" src=https://images.unsplash.com/photo-1512358958014-b651a7ee1773?ixlib=rb-0.3.5&s=eb6441bc359b6b5f00ecd44864e66256&auto=format&fit=crop&w=750&q=80 alt="Card image cap">
                <button type="button" class="btn btn-primary btn-block">
                Payments <span class="badge badge-light">1</span>
                </button>
  </div>
        
  <div class="card">
    <img class="card-img-top" src=https://images.unsplash.com/photo-1514894780887-121968d00567?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=324ef1b343dd3d2a806562faf91d71fa&auto=format&fit=crop&w=752&q=80 alt="Card image cap">
        <button type="button" class="btn btn-primary btn-block">
        Course Content <span class="badge badge-light">2</span>
        </button>
  </div>
    
</div>

<% include partials/footer %>