<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Log in</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
        <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"> 
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
    </head>
    <body>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
          
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
        
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </nav>

            <div class="container">
                
                <% if(error && error.length>0){%>
                <div class="alert alert-danger dangers show" role="alert">
                <center><%=error%></center>
                </div>
                <% } %>
   
                <center>
                <div>
                    <h1>Welcome</h1>
                </div>
                <br>
                <div>
                    <i class="fas fa-users fa-5x"></i>
                </div>
                </center>
                <div class="formStyle">
                    <form action="/login" method="POST">
                        <div class="input-group">
                            <span class="input-group-append">
                                <div class="input-group-text "><i class="fa fa-user"></i></div>
                            </span>
                            <input class="form-control" type="text" name="username" placeholder="Username" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-append">
                                <div class="input-group-text "><i class="fa fa-key"></i></div>
                            </span>
                            <input class="form-control" type="password" name="password" placeholder="Password" required>
                        </div>
                        <div class="input-group">
                            <div class="col-lg-11 featured-responsive c2" style=" margin: 0 auto;" data-toggle="modal" data-target="#forgotPW">
                                <a href="#" id="pwf">Forgot your password?</a>
                            </div>
                        </div>
                        <div class="input-group">
                            <button class="custombtn btn btn-outline-primary btn-sm">Login</button>
                        </div>
                    </form>
                </div>
            </div>



<div class="modal fade" id="forgotPW" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title" id="exampleModalLabel">Forgot your password?</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" style="color:white;">&times;</span>
                </button>
            </div>
    
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row" style="margin-top:0px;">
                        <div class="container">
                            <center>
                                <h2>Recover Account</h2>
                            <div style="margin-top:10px;">
                                <i class="fas fa-lock fa-4x"></i>
                            </div>
                            <div class="input-group" style="margin-top:10px;">
                            <span class="input-group-append">
                                <div class="input-group-text "><i class="fa fa-user"></i></div>
                            </span>
                            <input class="form-control" type="text" name="username" placeholder="Enter Username" required>
                        </div>
                        <div class="input-group" style="margin-top:10px;">
                            <button id="recovery" class="fbtn btn btn-outline-primary btn-sm">Send Recovery Email</button>
                        </div>
                        </center>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

<script src="scripts/login.js"></script>
<% include ./partials/footer %>