@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  font-family: 'Roboto', sans-serif; 
        background-color: #e6f1fc;
    }

h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 52px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px; }
  @media (max-width: 768px) {
    h5 {
      font-size: 22px; } }

h6 {
  font-size: 21px;
  font-weight: 400; }

p {
  font-size: 15px; }

.main-block {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .main-block {
      padding: 45px 0; } }

@media(max-width:900px){
  .col-lg-3{
    padding-top: 0px !important;
  }
  
  
}

/* ==============================================================
   Navbar
   ============================================================== */

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand img{
    height: 25px;
    margin-top:0px;
}
.content{
	text-align: center;}
	
.white{
   width: auto;
   white-space:nowrap; 
}

.d-block{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#AkuraBrand{
     height: 20%;
}

#head{
	padding-top: 3%;
}

.links:hover, .links:active {
    color: #fff !important;
    cursor:pointer;
    text-decoration: none;
}

.links{
  color: rgba(255,255,255,.8) !important;
  font-size : 15px;
}


.navbar{
  padding-top: 8px !important;
}

.custombtn {
  border-color: rgba(255,255,255,.7);
  color: rgba(255,255,255,.7);
  width: 100px;
}

.btn-outline-primary:hover {
    color: #5383d3 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-primary:active {
    background-color: #5383d3 !important;
    color: black !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .8);
}

.navbar {
    padding-top: 2px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
}

.user-image{
  margin-left:20px; 
  max-height: 30px; 
  max-width: 30px;
}

/* ==============================================================
   Menu
   ============================================================== */
#topic{
  text-align: center;
  padding-top: 90px;
  color:black;
  font-family: Raleway;
}

#overlay{
  position: absolute;
}

.image{
  height:200px;
  overflow:hidden;
}

.image img{
  min-width:100%;
}

.col-lg-3{
  padding-top:50px;
}

#particles-js{
    height:95vh;
    margin-top: 10px;
}

.featured-place-wrap {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  box-shadow: .5px 2px 20px 1px #888888;
  
}
  .featured-place-wrap:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3); }
  .featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: #000; }
  .featured-place-wrap img {
    width: 100%; }

.featured-rating,
.featured-rating-yellow,
.featured-rating-blue,
.featured-rating-green {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: -33px 10px 0 0;
  font-size: 23px;
  background: #ff7474;
  color: #fff;
  padding: 14px;
  border-radius: 50%; }

.featured-rating-green {
  background: #6fe47d !important; }

.featured-rating-yellow {
  background: #f2d16d !important; }
  
.featured-rating-blue {
  background: #1f6ba9 !important; }
  
  
.featured-title-box {
  padding: 22px 20px;}
  @media (max-width: 480px) {
    .featured-title-box {
      padding: 22px 14px; } }
  .featured-title-box h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px; }
  .featured-title-box p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0; }
    @media (max-width: 320px) {
      .featured-title-box p {
        font-size: 13px; } }
    .featured-title-box p span {
      color: #ffb006;
      padding: 0; }
  .featured-title-box span {
    color: #9fa9b9;
    padding: 0 10px; }
    @media (max-width: 320px) {
      .featured-title-box span {
        padding: 0 4px; } }
  .featured-title-box ul {
    padding: 0;
    margin: 10px 0 0; }
    .featured-title-box ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
      .featured-title-box ul li span {
        padding: 7px 8px 0 0; }
        @media (max-width: 1200px) {
          .featured-title-box ul li span {
            padding: 0 4px 0 0; } }
        @media (max-width: 320px) {
          .featured-title-box ul li span {
            font-size: 12px;
            padding: 0 2px 0 0; } }
      .featured-title-box ul li p {
        margin: 0; }

.bottom-icons {
  padding: 15px 0 0;
  line-height: 1; }
  .bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px; }

.closed-now {
  color: #ff3a6d;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.open-now {
  color: #46cd38;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.filter-dropdown {
  display: inline-block; }
  .filter-dropdown select {
    border-radius: 0; }

.detail-checkbox-wrap {
  padding: 22px 0; }

.detail-options-wrap {
  padding: 15px 0; }

@media (max-width: 992px) {
  .responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; }
  }

.modal{
  background-color: rgba(0,0,0,0.5);
}  

.modal-header{
  background-color: rgba(0,0,0,0.8);
  color:white;
  font-size:15px;
  padding: 10px 10px 10px 20px;
}

.modal-body{
  padding-bottom: 0 !important;
}

.modal-content{
  background-color: #e6f1fc;
  border:none;
}

.inner-title{
  height:80px;
  text-align: center;
}

.class-menu{
  max-width:1200px !important;
}

.class-menu-lec{
  max-width:820px !important;
}

.inner-icons{
  color:#537ca6;
}

.links{
  color: rgba(255,255,255,.8) !important;
  font-size : 15.5px;
}

.featured-responsive{
  max-width: 900px;
}

/****** posts and comments ******/
.pt-3, .py-3 {
    padding-top: 1.5rem!important;
}

.comment-main ul{
	list-style: none;
}
.sub-cmt-img{
	width: 55px !important;
  height: 55px !important;
  border-radius: 50%;
} 
.main-cmt-img{
    width: 40px !important;
    height: 40px !important;
    border-radius: 50%;
}
.border-bottom{
	font-size: 15px;
	border-bottom: 1px solid #d3d3d3;
}
.user-comment{
	background-color: white !important;
    box-shadow: 0px 5px 8px -4px black;
}
.user-comment-desc, .user-comment span{
	color: #a0a0a0;
}
.user-comment-desc p{
	font-size: 12px;
	display: inline-block;
	float: left;
}
.send-icon i{
	font-size: 20px;
	background: #f3f3f3;
	padding: 6px 5px;
	border-radius: 50%;
	color: #74C2E1;
	height: 35px;
	width: 35px;
	border: 1px solid black;
}
.user-comment:before{
    content: "";
    height: 0;
    width: 0;
    top: 0;
    left: -10px;
    position: absolute;
    border-style: solid;
    border-width: 13px 0 0 13px;
	border-color: white transparent transparent transparent; 
}

.font-black{
  color: black;
  min-height:35px;
}

h1{
  color: white;
  font-weight: 150;
  font-size: 30px;
  margin: 5px 0px 20px;
}

#clockdiv{
	font-family: sans-serif;
	color: #fff;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
}

#clockdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #71a4d8;
	display: inline-block;
}

#clockdiv div > span{
	padding: 15px;
	border-radius: 3px;
	background:#055faf;
	display: inline-block;
}

.smalltext{
	padding-top: 5px;
	font-size: 16px;
}

.clck{
  background-color:rgba(0,0,0,0.5);
  min-height:265px;
  border-radius: 5px;
  margin-bottom:30px;
  padding:20px;
}

.class-details{
  background-color: white;
  padding: 20px;
  margin-left:5px;
  margin-right:5px;
	border-radius: 5px;
}

.inner-details-ol {
        counter-reset:myCounter;
        margin-left:0;
        padding-left:5px;
        color: rgb(100,100,100);
      }

      .inner-details-li {
        position: relative;
        padding-left: 3em;
        margin: 0.45em 0;
        list-style: none;
        line-height: 1.8em;
        cursor: pointer;
        -webkit-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
      }

      .inner-details-li:hover {
        color: rgb(0,0,0);
      }

      .inner-details-li:before {
        content:counter(myCounter);
        counter-increment:myCounter;
        position:absolute;
        top:0;
        left:0;
        width: 1.8em;
        height: 1.8em;
        line-height: 1.8em;
        padding:0px;
        color:#fff;
        background:#29a2cc;
        font-weight:bold;
        text-align:center;
        border-radius: .9em;
        box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.3);
        z-index: 1;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      .inner-details-li:hover:before {
        background-color: #d31e1e;
      }

      .inner-details-li .inner-details-li:before{
        background-color: #29a2cc;
      }

      .inner-details-li:after {
        position: absolute;
        top: 2.1em;
        left: 0.9em;
        width: 2px;
        height: calc(100% - 2em);
        content: '';
        background-color: rgb(203, 203, 203);
        z-index: 0;
      }

      .inner-details-li:hover:after {
        background-color: black;
      }

      .inner-details-li .inner-details-li {
        font-size: 0.8em;
      }

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #58a0bc;
  color: white;
  margin-bottom:20px;
  
}