@import url('https://fonts.googleapis.com/css?family=Raleway:500');

body {
  font-family: 'Roboto', sans-serif; 
        background-color: #e6f1fc;
    }

h1 {
  font-size: 72px;
  color: #fff;
  font-weight: 300; }
  @media (max-width: 1200px) {
    h1 {
      font-size: 52px; } }
  @media (max-width: 992px) {
    h1 {
      font-size: 40px; } }

h2 {
  font-size: 47px; }
  @media (max-width: 768px) {
    h2 {
      font-size: 34px; } }

h3 {
  font-size: 35px; }
  @media (max-width: 992px) {
    h3 {
      font-size: 30px; } }

h4 {
  font-size: 30px; }

h5 {
  font-size: 28px; }
  @media (max-width: 768px) {
    h5 {
      font-size: 22px; } }

h6 {
  font-size: 21px;
  font-weight: 400; }

p {
  font-size: 15px; }

.main-block {
  padding: 90px 0; }
  @media (max-width: 768px) {
    .main-block {
      padding: 45px 0; } }

.light-bg {
  background: #f3f4f7; }

.dark-bg {
  background: #252a33; }

@media(max-width:900px){
  .col-lg-3{
    padding-top: 0px !important;
  }
}

/* ==============================================================
   Navbar
   ============================================================== */

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand img{
    height: 25px;
    margin-top:0px;
}
.content{
	text-align: center;}
	
.white{
   width: auto;
   white-space:nowrap; 
}

.d-block{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#AkuraBrand{
     height: 20%;
}

#head{
	padding-top: 3%;
}

.custombtn {
  border-color: rgba(255,255,255,.7);
  color: rgba(255,255,255,.7);
  width: 100px;
  margin-top: 5px;
}

.btn-outline-primary:hover {
    color: #5383d3 !important;
    background-color: #fff;
    border-color: #fff;
}

.btn-outline-primary:active {
    background-color: #5383d3 !important;
    color: black !important;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .8);
}

.navbar {
    padding-top: 2px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
}


/* ==============================================================
   Menu
   ============================================================== */
#topic{
  text-align: center;
  padding-top: 100px;
  color:black;
  font-family: Raleway;
}

#overlay{
  position: absolute;
}

.image{
  height:200px;    
  overflow:hidden;
}

.image img{
  min-width:100%;
}

.col-lg-3{
  padding-top:50px;
}

.featured-place-wrap {
  background: #fff;
  margin: 0 0 30px;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  box-shadow: .5px 2px 20px 1px #888888;
  
}
  .featured-place-wrap:hover {
    -webkit-transform: translateY(-6px);
    -ms-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3);
    box-shadow: 0px 3px 40px 0 rgba(206, 205, 205, 0.3); }
  .featured-place-wrap a {
    display: block;
    text-decoration: none;
    color: #000; }
  .featured-place-wrap img {
    width: 100%; }

.featured-rating,
.featured-rating-orange,
.featured-rating-green {
  position: absolute;
  right: 10px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin: -33px 10px 0 0;
  font-size: 23px;
  background: #ff7474;
  color: #fff;
  padding: 14px;
  border-radius: 50%; }

.featured-rating-orange {
  background: #ffae00 !important; }

.featured-rating-green {
  background: #46cd38 !important; }

.featured-title-box {
  padding: 22px 20px; }
  @media (max-width: 480px) {
    .featured-title-box {
      padding: 22px 14px; } }
  .featured-title-box h6 {
    overflow: hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    margin-bottom: 5px; }
  .featured-title-box p {
    color: #9fa9b9;
    display: inline-block;
    margin: 0; }
    @media (max-width: 320px) {
      .featured-title-box p {
        font-size: 13px; } }
    .featured-title-box p span {
      color: #ffb006;
      padding: 0; }
  .featured-title-box span {
    color: #9fa9b9;
    padding: 0 10px; }
    @media (max-width: 320px) {
      .featured-title-box span {
        padding: 0 4px; } }
  .featured-title-box ul {
    padding: 0;
    margin: 10px 0 0; }
    .featured-title-box ul li {
      list-style: none;
      color: #737882;
      line-height: 2; }
      .featured-title-box ul li span {
        padding: 7px 8px 0 0; }
        @media (max-width: 1200px) {
          .featured-title-box ul li span {
            padding: 0 4px 0 0; } }
        @media (max-width: 320px) {
          .featured-title-box ul li span {
            font-size: 12px;
            padding: 0 2px 0 0; } }
      .featured-title-box ul li p {
        margin: 0; }

.bottom-icons {
  padding: 15px 0 0;
  line-height: 1; }
  .bottom-icons span {
    float: right;
    line-height: 1;
    padding: 0 0 0 12px; }

.closed-now {
  color: #ff3a6d;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.open-now {
  color: #46cd38;
  font-size: 13px;
  display: block;
  font-weight: 400;
  display: inline-block; }

.filter-dropdown {
  display: inline-block; }
  .filter-dropdown select {
    border-radius: 0; }

.detail-checkbox-wrap {
  padding: 22px 0; }

.detail-options-wrap {
  padding: 15px 0; }

@media (max-width: 992px) {
  .responsive-wrap {
    max-width: 100%;
    -webkit-box-flex: 100%;
    -webkit-flex: 100%;
    -ms-flex: 100%;
    flex: 100%; }
  }