@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -150px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  height: 150; 
}
.site-footer {
  background: rgba(0, 0, 0, 0.8);
  color: white;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand img{
    height: 25px;
    margin-top:0px;
}

.content{
	text-align: center
}

.d-block{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#AkuraBrand{
     height: 20%;
}

.custombtn {
  border-color: rgba(255,255,255,.7);
  color: rgba(255,255,255,.7);
  width: 100px;
  margin-top: 5px;
}

.btn-outline-primary:hover {
    color: #2a3153 !important;
    background-color: #fff;
    border-color: #fff;
}

.custombtn2 {
  height: 40px;
  width: 130px;
  line-height: 30px;
}

li{
    padding-top: 7px;
}

.c2{
    margin: auto;
}

.c1{
    margin: auto;
}

.cardsTop{
    margin-top: 5%;
}

.about{
    margin-top: 10%;
}

h3{
    margin-top: 10%;
    margin-bottom: 5%;
}

.contact{
    text-align: left;
    line-height: 2;
}

#map {
        height: 300px;
        width: 100%;
}

#findmap{
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .8);
}

.navbar {
    padding-top: 2px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
}

.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/JtKJp1f.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#footer{
    background-color: lime;
    /*bottom: 0;*/
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

.card-img-top {
    display: none;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 205px;
    border: 2px solid gray;
    padding: 2px;
}

.card-body {
    display: none;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background-color: rgba(0,0,255,0.1);
}


element.style {
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    margin-bottom: 130px;
    margin-top: 50px;
    transition: transform 1s;
}

#register{
    margin-left: 3%;
}

#fitusername{
    padding: auto;
    
}

.dangers{
    margin-top:7%;
}


.col-lg-6:hover{
    transform: scale(1.2); 
}

#user{
    color: white;
}