@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

html, body {
  height: 100%;
  width:100%;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand img{
    height: 25px;
    margin-top:0px;
}

.content{
	text-align: center
}

.d-block{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#AkuraBrand{
     height: 20%;
}

#head{
	padding-top: 3%;
}

.custombtn {
  border-color: rgba(255,255,255,.7);
  color: rgba(255,255,255,.7);
  width: 100px;
  margin-top: 5px;
}

.btn-outline-primary:hover {
    color: #2a3153 !important;
    background-color: #fff;
    border-color: #fff;
}

.custombtn2 {
  height: 40px;
  width: 130px;
  line-height: 30px;
}

li{
    padding-top: 7px;
}

.c2{
    margin: auto;
}

p{
	font-family: 'Raleway', sans-serif;
}

.c1{
    margin: auto;
}

.cardsTop{
    margin-top: 5%;
}

.contact{
    text-align: left;
    line-height: 2;
}

#map {
        height: 352px;
        width: 505px;
}

#findmap{
    text-align: center;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255, .8);
}

.navbar {
    padding-top: 2px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
}

.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/JtKJp1f.jpg");

    /* Set a specific height */
    min-height: 580px; 
    padding-bottom: 80px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.achievment{
    height: 30%;    
}

.threeFeatures {
    float: left;
    display: none;
    border:0 !important;
    background-color: rgba(255,235,215,.5) !important;
    box-shadow: 0 4px 15px 10px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.threeFeaturesTop{
    padding: 5px 0;
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow .6s;
}

.parallax2 {
    /* The image used */
    background-image: url("https://i.imgur.com/7PfzLV2.jpg");

    /* Set a specific height */
    min-height: 570px; 
    padding-top: 80px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro{
  margin-top: 50px;
  height:510px;
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  background-color:rgba(136,123,176,0.6);
  height : 100%;
  color : #FFF;
  float:left;
  z-index: auto;
}

.left img{
	top: 0;
	height: 100px;
}

.right{
  display : flex;
  align-items : center;
  background-color:rgba(238,178,178,0.6);
  height : 100%;
  color : #3d231b;
  padding-left: 100px;
  padding-right: 100px;
  float: left;
}

#jus{
	font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.about h1{
	font-family: 'Gothic A1', sans-serif;
	text-align: center;
}

.right h2{
	font-family: 'Gothic A1', sans-serif;
}

.about h3{
	font-size: 23px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#abouts{
    padding-top: 0.5%;
}

#footer{
    background-color: lime;
    /*bottom: 0;*/
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

.card-img-top {
    display: none;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 205px;
    border: 2px solid gray;
    padding: 2px;
}

.card-body {
    display: none;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
    background-color: rgba(0,0,255,0.1);
}

.parallax h1{
	text-align: center;
	color: white;
	font-family: 'Gothic A1', sans-serif;
}

.parallax2 .col-md-4, .parallax2 .col-lg-4{
    margin-bottom: 0 !important;
    vertical-align: center;
    float: left;
    border-right: 1px solid white;
}

element.style {
}
.parralax .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    transition: transform 1s;
}

#register{
    margin-left: 3%;
}

#fitusername{
    padding: auto;
    
}

.dangers{
    margin-top:7%;
}


.stulec:hover{
    transform: scale(1.2); 
}

#user{
    color: white;
}


/*****************************/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding-left: 50px
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 37%;
	padding: 35px 0px;
}

.footer-left p{
    color: white;
}

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	width: 400px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  rgba(255,255,255,0.7);
}

.footer-distributed ::-moz-placeholder {
	color:  rgba(255,255,255,0.7);
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  rgba(255,255,255,0.7);
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* Footer Center */


.footer-distributed .footer-center{
	width: 28%;
	padding: 35px 0px;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/*****************************/