@import url('https://fonts.googleapis.com/css?family=Gothic+A1:200');
@import url('https://fonts.googleapis.com/css?family=Raleway:500');

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

@media (max-width: 1000px) {
    .right{
        margin-top: 35px;
    }
    .left img{
        height: 30%;
    }
    .right p{
        color: white;
    }
    .threeFeatures{
        margin-top: 35px;
    }
    .footer-distributed{
        padding-left: 0px;
    }
    #map{
        width:100%;
    }
}

html, body {
  height: 100%;
  width:100%;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.card-title{
    color: #5383d3;
}

li{
    padding-top: 7px;
}

.c2{
    margin: auto;
}

p{
	font-family: 'Raleway', sans-serif;
}

.c1{
    margin: auto;
}

.cardsTop{
    margin-top: 5%;
}

.contact{
    text-align: left;
    line-height: 2;
}

#map {
        height: 352px;
        width: 100%;
}

#findmap{
    text-align: center;
}

.parallax {
    /* The image used */
    background-image: url("https://i.imgur.com/JtKJp1f.jpg");

    /* Set a specific height */
    min-height: 580px; 
    padding-bottom: 80px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.achievment{
    height: 30%;    
}

.threeFeatures {
    float: left;
    display: none;
    border:0 !important;
    box-shadow: 0 4px 15px 10px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.threeFeaturesTop{
    padding: 5px 0;
    background-color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: box-shadow .6s;
}

.parallax2 {
    /* The image used */
    background-image: url("https://i.imgur.com/7PfzLV2.jpg");
    margin-top: 80px;
    /* Set a specific height */
    min-height: 570px; 
    padding-top: 80px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.intro{
  margin-top: 50px;
  height:510px;
}

.left{
  display : flex;
  justify-content : center;
  align-items : center;
  height : 100%;
  color : #FFF;
  float:left;
  z-index: auto;
  padding-top: 13px;
}

.left img{
	height: 600px;
}

.right{
  display : flex;
  align-items : center;
  padding: 80px;
  float: left;
    word-break: break-all;
}

#jus{
	font-size: 18px;
    text-align: justify;
    text-justify: inter-word;
}

.about h1{
    padding-top: 50px;
	font-family: 'Gothic A1', sans-serif;
	font-size: 50px;
	text-align: center;
}

.right h2{
	font-family: 'Gothic A1', sans-serif;
	font-size: 40px;
}

.about h3{
	font-size: 30px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#abouts{
    padding-top: 0.5%;
}

#footer{
    background-color: lime;
    /*bottom: 0;*/
    height: 100px;
    left: 0;
    position: absolute;
    right: 0;
}

.card-img-top {
    display: none;
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
    height: 205px;
    border: 2px solid gray;
    padding: 2px;
}

.card-body {
    display: none;
    border-left: 2px solid gray;
    border-bottom: 2px solid gray;
    border-right: 2px solid gray;
}

.parallax h1{
	text-align: center;
	color: white;
	font-family: 'Gothic A1', sans-serif;
}

.parallax2 .col-md-4, .parallax2 .col-lg-4{
    margin-bottom: 0 !important;
    vertical-align: center;
    float: left;
    border-right: 1px solid white;
}


.parralax .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    transition: transform 1s;
}

#register{
    margin-left: 3%;
}

#fitusername{
    padding: auto;
    
}

.dangers{
    margin-top:7%;
}


.stulec:hover{
    transform: scale(1.2); 
}

#user{
    color: white;
}
/*****************************/


.btn-primary:hover,
.btn-primary:focus {
    background-color: #5383d3;
    border-color: #5383d3;
    box-shadow: none;
    outline: none;
}

.btn-primary {
    color: #fff;
    background-color: #5383d3;
    border-color: #5383d3;
}

section {
    padding: 60px 0;
}

section .section-title {
    font-family: 'Gothic A1', sans-serif;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#team .card {
    border: none;
    background: #ffffff;
}

.image-flip:hover .backside,
.image-flip.hover .backside {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    border-radius: .25rem;
}

.image-flip:hover .frontside,
.image-flip.hover .frontside {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mainflip {
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -ms-transition: 1s;
    -moz-transition: 1s;
    -moz-transform: perspective(1000px);
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
    position: relative;
}

.frontside {
    position: relative;
    -webkit-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    z-index: 2;
    margin-bottom: 30px;
}

.backside {
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
    box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}

.frontside,
.backside {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 1s;
    -webkit-transform-style: preserve-3d;
    -moz-transition: 1s;
    -moz-transform-style: preserve-3d;
    -o-transition: 1s;
    -o-transform-style: preserve-3d;
    -ms-transition: 1s;
    -ms-transform-style: preserve-3d;
    transition: 1s;
    transform-style: preserve-3d;
}

.frontside .card,
.backside .card {
    min-height: 312px;
}

.backside .card a {
    font-size: 18px;
    color: #5383d3 !important;
}

.frontside .card .card-title,
.backside .card .card-title {
    color: #5383d3 !important;
}

.frontside .card .card-body img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}
/*****************************/

/*****************************/
.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding-left: 50px
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 37%;
	padding: 35px 0px;
}

.footer-left p{
    color: white;
}

.footer-distributed form{
	display: inline-block;
}

.footer-distributed form input,
.footer-distributed form textarea{
	display: block;
	border-radius: 3px;
	box-sizing: border-box;
	background-color:  #1f2022;
	box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
	border: none;
	resize: none;

	font: inherit;
	font-size: 14px;
	font-weight: normal;
	width: 400px;
}

.footer-distributed ::-webkit-input-placeholder {
	color:  rgba(255,255,255,0.7);
}

.footer-distributed ::-moz-placeholder {
	color:  rgba(255,255,255,0.7);
	opacity: 1;
}

.footer-distributed :-ms-input-placeholder{
	color:  rgba(255,255,255,0.7);
}


.footer-distributed form input{
	height: 55px;
	margin-bottom: 15px;
}

.footer-distributed form textarea{
	height: 100px;
	margin-bottom: 20px;
}

.footer-distributed form button{
	border-radius: 3px;
	background-color:  #33383b;
	color: #ffffff;
	border: 0;
	padding: 15px 50px;
	font-weight: bold;
	float: right;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 28%;
	padding: 35px 0px;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
	width: 30%;
}

.contact-align{
    display: flex;
    align-items:center;
    
}
/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}
/*****************************/