body{
    background-image: url(https://i.imgur.com/7PfzLV2.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 0.9) !important;
    height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 20px;
    padding-left: 20px;
}

.navbar-brand img{
    height: 25px;
    margin-top:0px;
}

.content{
	text-align: center
}

.d-block{
    max-width: 100%;
    max-height: 100vh;
    height: auto;
}

#AkuraBrand{
     height: 20%;
}

.navbar {
    padding-top: 2px;
    padding-right: 30px;
    padding-bottom: 8px;
    padding-left: 30px;
}

.container{
    margin-top: 10%;
}