<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Income</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/payments.css"> 
        
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
    <!-- End of Particles -->    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <ul class="navbar-nav nav-link">
        <a class="links" href="/lecturer">Home</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/lecturer/profile">Profile</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/lecturer/classes">My Classes</a>
      </ul>
      <ul class="navbar-nav nav-link">
        <a class="links" href="/lecturer/newsfeeds">Newsfeed</a>
      </ul>
    
    <a  id="register"href="/login">
      <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
    </a>
  </div>
</nav>
<div id="particles-js">
    <div id="overlay">
        <h2 id="topic">PAYMENTS</h2>
        <div class="wrapper">
            <div class="container">
                <div class="panel panel-default panel-fill">
                    <div class="panel-heading">
                        <h3 class="panel-title">User info</h3>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">School</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">District</label>
                        <div class="col-sm-10">
                          <input type="text" class="form-control">
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>       

<% include ../partials/footer %>