<!DOCTYPE html>
<html lang="en">
    <head>
        <title>View Results</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../../stylesheets/form.css"> 
        <link rel="stylesheet" type="text/css" href="../../stylesheets/home.css"> 
        <script src="../../scripts/viewResults.js"></script>
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../../json/particles.json')
        </script>
    <!-- End of Particles -->  
    
    <!-- For Charts -->  
        <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
		<script> 
		    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
		    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];
		</script>
	<!-- End of For Charts -->  
	    
	<!--Datatable-->
	<script src= "https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
	<!--End of datatable -->
    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
      
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <ul class="navbar-nav nav-link">
            <a class="links" href="/lecturer">Home</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/lecturer/income">Payments</a>
          </ul>
          <ul class="navbar-nav nav-link">
            <a class="links" href="/lecturer/newsfeeds">Newsfeed</a>
          </ul>
        </ul>
        
        <a  id="register"href="/login">
          <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log Out</span></button>
        </a>
      </div>
    </nav>
    
