<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <!-- Bootstrap -->
            <!-- Responsive screen size -->
                <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
            <!-- End of responsive screen size -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            
        <!-- End of Bootstrap -->
            <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet">
    <!-- Simple line Icon -->
        <link rel="stylesheet" type="text/css" href="../stylesheets/home.css"> 
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
            
    <!-- Particles -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
        
        <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

        <script>
            particlesJS.load('particles-js', '../json/particles.json')
        </script>
    <!-- End of Particles -->    
    </head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img id="AkuraBrand"src="https://i.imgur.com/GwaGx2B.png" ></a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
    </ul>
     <ul class="nav navbar-nav navbar-right">
           <% if(!currentUser){ %>
    <a  id="register"href="/login">
      <button class="custombtn btn btn-outline-primary btn-sm" type="submit">Log In</span></button>
    </a>
   <% } else { %>
    <ul class="navbar-nav nav-link">
      <a id="user" class="links" href="#"> Signed in as
      <%= currentUser.username %> 
      </a>
    </ul>
    <ul class="navbar-nav nav-link">
    <a  id="register"href="/logout">
      <button class="btn btn-outline-primary btn-sm custombtn" type="submit">Logout</button>
    </a>
    </ul>
    <% } %>
  </div>
</nav>
<div id="particles-js">
    <div id="overlay">
    <h2 id="topic">HOME</h2>
    <!--============================= DETAIL =============================-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 responsive-wrap">
                    <div class="row detail-options-wrap">
                        <div class="col-md-6 col-lg-3 featured-responsive c2 c1">
                            <div class="featured-place-wrap">
                                <a href="/student/profile">
                                    <div class="image">
                                        <img src="../images/users/<%=currentUser.username%>.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating"><i class="fas fa-user"></i></span>
                                    <div class="featured-title-box">
                                        <h6>Profile</h6>
                                        <p>Ashera Silva </p> <span>• </span>
                                        <p>2019</p> <span> 
                                        <ul>
                                            <li><span><i class="fas fa-user-tag inner-icons"></i></span>
                                                <p>S-2019-001</p>
                                            </li>
                                            <li><span><i class="fas fa-envelope inner-icons"></i></span>
                                                <p>ashera@gmail.com</p>
                                            </li>
                                            <li><span><i class="fas fa-phone inner-icons"></i></span>
                                                <p>770088515</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to Edit Your Profile</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 featured-responsive">
                            <div class="featured-place-wrap">
                                <a href="/student/payments">
                                    <div class="image">
                                        <img src="https://i.pinimg.com/originals/a5/d2/1a/a5d21aab5e18630975ae7e02eaa37af2.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating-yellow"><i class="fas fa-money-bill-alt"></i></span>
                                    <div class="featured-title-box">
                                        <h6>Payments</h6>
                                        <p>View payment history </p>
                                        <ul>
                                            <li><span><i class="fas fa-money-check-alt inner-icons"></i></span>
                                                <p>Payment history</p>
                                            </li>
                                            <li><span><i class="fas fa-funnel-dollar inner-icons"></i></span>
                                                <p>Upcoming payments</p>
                                            </li>
                                            <li><span><i class="fas fa-funnel-dollassr inner-icons"></i></span></li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to View Your Payments</div>
                                            
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-3 featured-responsive c2"  data-toggle="modal" data-target="#classes">
                            <div class="featured-place-wrap">
                                <a href="#">
                                    <div class="image">
                                        <img src="https://www.touteleurope.eu/fileadmin/_processed_/0/7/politique-euro-formation-education-a387ed0502.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating-green"><i class="fas fa-book-open"></i></span>
                                    <div class="featured-title-box">
                                        <h6>Course Content</h6>
                                        <p>Slides</p> <span>• </span>
                                        <p>Questions</p> <span> • </span>
                                        <p>Answers</p>
                                        <ul>
                                           <li><span><i class="fas fa-graduation-cap inner-icons"></i></span>
                                                <p>2019 Combined Maths</p>
                                            </li>
                                            <li><span><i class="fas fa-graduation-cap inner-icons"></i></span>
                                                <p>2020 Physics</p>
                                            </li>
                                            <li><span><i class="fas fa-graduation-cap inner-icons"></i></span>
                                                <p>2018 Chemistry</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">View Course Content of Your Classes</div>
                                            <span class="ti-heart"></span>
                                            <span class="ti-bookmark"></span>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        
                        <div class="modal fade" id="classes" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Select Class</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </button>
                                    </div>
                            
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row" style="margin-top:20px;">
                                                <div class="col-lg-6 col-md-6 featured-responsive c2">
                                                    <div class="featured-place-wrap"  data-toggle="modal" data-target="#classesMenu">
                                                        <a href="#">
                                                            <div class="image">
                                                                <img src="https://www.tutors.gr/sites/default/files/maths_blackboard.jpg" style="height:100%" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">Maths - 2019 A/L</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>Register a new Lecturer</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 featured-responsive c2">
                                                    <div class="featured-place-wrap"  data-toggle="modal" data-target="#classesMenu">
                                                        <a href="#">
                                                            <div class="image">
                                                                <img src="http://c1.thejournal.ie/media/2013/06/maths-equation-one-million-dollars-390x285.jpg" style="height:100%" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">Maths - 2016 A/L</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>Register a new Student</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="modal fade" id="classesMenu" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-lg class-menu" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Class Menu</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true" style="color:white;">&times;</span>
                                        </button>
                                    </div>
                            
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row" style="margin-top:20px;">
                                                <div class="col-lg-4 col-md-4 featured-responsive c2">
                                                    <div class="featured-place-wrap">
                                                        <a href="/admin/register/lecturer">
                                                            <div class="image">
                                                                <img src="https://media.glassdoor.com/l/c4/b0/4d/1f/discussion-time.jpg" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">Discussion Forums</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>Discuss problems with your friends</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 featured-responsive c2">
                                                    <div class="featured-place-wrap">
                                                        <a href="/admin/register/lecturer">
                                                            <div class="image">
                                                                <img src="https://itradeico.com/wp-content/uploads/2018/06/books-1024x535.png" style="height:100%" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">View Course Content</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>Download course related notes</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-lg-4 col-md-4 featured-responsive c2">
                                                    <div class="featured-place-wrap">
                                                        <a href="/admin/register/student">
                                                            <div class="image">
                                                                <img src="https://www.dbs.com.sg/iwov-resources/images/sgsme/dbscontent/freetext/wc-articles/financial-planning-analysis.jpg" style="height:100%" class="img-fluid" alt="#">
                                                            </div>
                                                            <div class="featured-title-box inner-title">
                                                                <h6 style="margin:-10px">View Results</h6>
                                                                <ul>
                                                                    <li><span class="icon-location-pin"></span>
                                                                        <p>View an analysis of results</p>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-md-6 col-lg-3 featured-responsive">
                            <div class="featured-place-wrap">
                                <a href="student/newsfeed">
                                    <div class="image">
                                        <img src="https://www.yicaiglobal.com/sites/default/files/%E4%BA%92%E8%81%94%E7%BD%91%E6%96%B0%E9%97%BB%E4%BF%A1%E6%81%AF%E6%9C%8D%E5%8A%A1%E6%96%B0%E8%A7%84%EF%BC%9A%E9%9D%9E%E5%85%AC%E6%9C%89%E8%B5%84%E6%9C%AC%E4%B8%8D%E5%BE%97%E4%BB%8B%E5%85%A5%E9%87%87%E7%BC%96%E4%B8%9A%E5%8A%A1.jpg" class="img-fluid" alt="#">
                                    </div>
                                    <span class="featured-rating-blue"><i class="fas fa-newspaper"></i></span>
                                    <div class="featured-title-box">
                                        <h6>News Feed</h6>
                                        <p>See what's happening at Akura </p>
                                        <ul>
                                            <li><span><i class="fas fa-calendar-alt inner-icons"></i></span>
                                                <p>Holiday notifications</p>
                                            </li>
                                            <li><span><i class="fas fa-clock inner-icons"></i></span>
                                                <p>Class Rescheduling</p>
                                            </li>
                                            <li><span><i class="fas fa-clipboard-list inner-icons"></i></span>
                                                <p>Special Notices</p>
                                            </li>

                                        </ul>
                                        <div class="bottom-icons">
                                            <div class="closed-now">Click Here to Read Latest News</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>       

<% include ../partials/footer %>